@model User

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Register</h1>
            <br>
            <partial name="Registration"/>
        </div>
        <div class="col">
            <h1>Login</h1>
            <br>
            <partial name="Login"/>
        </div>
    </div>
</div>